*{
	margin: 0;
	padding: 0;
}

html{
	
}

h2{
	text-align: center;
	margin: 25px;
	font-family: "resources/fonts/GoudyBookletter1911-Regular.ttf";
}

.painel-info td input {
	width: 100%;
	margin: 0 auto 5px;
	margin-left: 5px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
}

.painel-cadastro-principal .form-cadastro{
	width: 20%;
	margin: 0 auto 50px;
	background: #93E9ED;
	padding: 10px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.form-cadastro input[type="submit"]{
	font-family: "Roboto", sans-serif;
	width: 40%;
	padding: 10px;
	font-size: 15px;
	color: #ffffff;
	background: rgb(114, 162, 224);
}

.info-tabela-cadastro{
	width: 50%;
	margin: 0 auto 50px;
}

.info-tabela-cadastro .tabela-cadastro-usuario {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.info-tabela-cadastro .tabela-cadastro-usuario td, .info-tabela-cadastro .tabela-cadastro-usuario th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info-tabela-cadastro .tabela-cadastro-usuario tr:nth-child(even){background-color: #f2f2f2;}

.info-tabela-cadastro .tabela-cadastro-usuario tr:hover {background-color: #ddd;}

.info-tabela-cadastro .tabela-cadastro-usuario th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(114, 162, 224);
  color: white;
}